.avatar-container{
    border: 2px solid black;
    width:500px;
    height:500px;
    padding:20px;
    position: relative;

}
.badge{
   
    position: absolute;
    top: 0px;
    right: 0px;
   
}
.avatar{
    border: 2px solid black;
    width:200px;
    height:200px;
    position: absolute;
    top: 0px;
    right: 0px; 
}