*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
 

.parent{
    height: 380px;
    width: 500px;
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    border: 2px solid;
}
.box1{
    background-image: linear-gradient(rgb(90, 93, 94),rgb(212, 61, 212));
    height: 40%;
    width: 100%;
    border-radius: 10px;
    animation-name: colors;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
   animation-timing-function: ease;
   animation-direction: alternate;
}

.box2{
    background-image: linear-gradient(rgb(90, 93, 94),rgb(212, 61, 212));
    height: 60%;
    width: 100%;   
    border-radius: 10px;
    animation-name: colors1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: alternate;
}
.box3{
    background-image: linear-gradient(rgb(90, 93, 94),rgb(212, 61, 212));
    height: 90%;
    width: 100%;
    border-radius: 10px;
    animation-name: colors2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: alternate;
}
.box4{
    background-image: linear-gradient(rgb(90, 93, 94),rgb(212, 61, 212));
    height: 70%;
    width: 100%;
    border-radius: 10px;
    animation-name: colors3;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: alternate;
}
.box5{
    background-image: linear-gradient(rgb(90, 93, 94),rgb(212, 61, 212));
    height: 50%;
    width: 100%;
    border-radius: 10px; 
    animation-name: colors4;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: alternate;
}
.box6{
    background-image: linear-gradient(rgb(90, 93, 94),rgb(212, 61, 212));
    height: 40%;
    width: 100%;
    border-radius: 10px;
    animation-name: colors5;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: alternate;
}
@keyframes colors{
   0% {
    height: 20px;
}
    50%{
        height: 80px;
    }
   
    100%{
        height: 130px;
    }
}
@keyframes colors1{
    0% {
     height: 100px;
 }
 50%{
    height:150px;
}
     100%{
         height: 200px;
     }
 }
 @keyframes colors2{
    0% {
     height: 200px;
 }
 50%{
    height:300px;
}
 100%{
         height: 350px;
     }
 }
 @keyframes colors3{
    0% {
     height: 130px;
 }
 50%{
    height: 200px;
}
 100%{
         height: 240px;
     }
 }
 @keyframes colors4{
    0% {
     height: 80px;
 }
 50%{
    height: 110px;
}
 100%{
         height: 150px;
     }
 }
 @keyframes colors5{
    0% {
     height: 50px;
 }
 50%{
    height: 70px;
}
 100%{
         height: 90px;
     }
 }


 


    /* task-2 */
 .parent1{
     display: flex;
     justify-content: space-around;
     width: 100px;
     margin: 40px auto;
     gap: 10px;
 }

 .dot {
     width: 20px;
     height: 20px;
     border-radius: 50%;
     background-color: blue;
     transform: translateY(0);
     animation: rise 2s infinite ease-in-out;
  
 }

 .dot:nth-child(2) {
    background-color: red;
     animation-delay: 0.2s;

 }

 .dot:nth-child(3) {
     animation-delay: 0.3s;
     background-color: orange;
 }

 .dot:nth-child(4) {
    background-color: green;
     animation-delay: 0.4s;
 }

 @keyframes rise {
     0%, 25%, 100% {
         transform: translateY(0);
     }
     50% {
         transform: translateY(-20px);
     }
     75% {
         transform: translateY(0);
     }
 }
