.box-px{
    width: 200px;
    height: 100px;
    border: 2px solid blue;
    background-color: pink;
    
}
/* task-2 */
.parent-percent{
    width: 500px;
    height: 300px;
    border: 2px solid;
}
.child-percent{
    width: 50%;
    height:200px ;
    border: 2px solid;
    background-color:palevioletred;
}
/* task-3 */
 html{
    font-size: 2rem;
 }
 /* task-5 */
 .box-vw{
    width: 50vw;
   border: 2px solid    ;
 }
 /* task-6 */
 .box-vh{
    height: 25vh;
    border: 2px solid;
 }
 .square-vmin{
    width: 50%;
    height: 20vmin;
    border: 2px solid;
 }
 /* task-8 */
 .square-vmax{
    width: 50%;
    height: 20vmax;
    border: 2px solid;
 }
 /* task-9 */
 .parent-relative{
    position: relative;
    border: 2px solid;
    width: 400px;
    height: 200px;
 }
 .child-absolute{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: pink;
    border: 2px solid;
    bottom: 0px;
    right: 0px;
 }
 h1{
    font-size: 30px;
 }
